/*Adds a soft gray tone to the background*/

body
{
    background-color: white;
    font-family:'Times New Roman';
    font-size: 24px;
}

/*  Orders the layout of the document
    Wrapper contains all Components
*/

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.info-body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.text-center {
    text-align: center;
}

/*Grid with two columns*/

.input-area {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/*All Input Text Fields*/

.input-text {
    text-align:end;
    margin-right: 60px;
    font-size: 30px;
    font-weight: bold;
}

/*Input Box Design*/

.input-field {
    background-color: #87c6c4;
    border-width: 1px;
    border-color: black;
    max-width: 25%;
    height: 32px;
    margin-top: 30px;
}

.radiobox {
    margin-top: 30px;
}

#submit-button {
    grid-column: 1/3;
    justify-items: center;
    width: 40%;
    height: 45px;
    margin-left: 30%;
}

.error{
    color: red;
}